html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,body{
    margin:0;
    height: 100%;
}

body{
    background-color: #1A191B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app-header{
    height: 40px;
    width: 100%;
    background-color:#282729; 
    position: fixed;
    z-index: 1;
}

#app-body{
    height: 100%;
}


.tree{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 50px;
}

.tree .branch{
    padding-top: 50%;
    padding-bottom: 50%;
    min-width: 500px;
    max-width: 500px;
    height: 100%;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255,255,255,.1);
    bottom: 0;
    position: absolute;  
    overflow-y: auto;  
}

.branch::-webkit-scrollbar {
    width: 0em;
}

.card:first-of-type{
    margin-top: 50%;
}

.card{
    background-color: rgba(252,252,252,1);
    padding: 20px
}

.card .view{
    border: none;
    width: 100%;
    padding: 10px;
    height: 100%;
}

.card.active .view{
    border-left: 4px solid rgba(75, 50, 102, 1);
}


.card .view img{
    max-width: 100%;
}

.card.active .edit{  
    border: 2px solid rgba(75, 50, 102, 1);
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    resize: none;
    background-color: rgba(0,0,0,0);
}

.sys_hide{
    display: none;
}
