html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,body{
    margin:0;
    height: 100%;
}

body{
    background-color: #181818;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y:hidden;
    color: #c2c2c2;
}

#app-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #c2c2c2;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    width: 100%;
    background-color:#212121; 
    position: fixed;
    z-index: 1;
}

#app-header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#app-header .logo .icon{
    font-size: 30px;
    color: rgba(255,255,255,.5);
}


#app-header .doc_name{
    width: 100%;
}
#app-header .doc_name input{
    width: 100%;
    background: none;
    color: #bbb;
    border: none;
    outline: none;
    text-align: center;
    font-size: 1.2em;
}
#app-body{
    height: 100%;
}


.tree{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.tree .tree_padding{
    max-width: 50px;
    min-width: 50px;
    height: 100%;
}

.tree .branch .branch_padding{
    width: 100%;
    min-height: 500px;
    max-height: 500px;
}

.tree .branch{
    min-width: 500px;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #212121;
    bottom: 0;
    overflow-y: auto;  
    margin-top: 50px;    
}

.branch::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 0em;
}

.card:first-of-type{
    margin-top: 50%;
}

.card{
    padding: 20px;
    opacity: 0.3;
}

.card.highlight{
    opacity: 1;
}


.card .view{
    border: none;
    width: 100%;
    padding-left: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
}

.card a{
    color: #8CA8C8;
}

.card h1 > code,
.card h2 > code,
.card h3 > code,
.card h4 > code,
.card h5 > code,
.card h6 > code,
.card p > code,
.card li > code{
    background: rgba(255,255,255,.1);
    border:1px solid rgba(0,0,0,.35); 
    padding: .2rem .3rem .1rem;
    border-radius: 3px;
}

.card.active .view{
    border-top: 4px solid rgba(75, 50, 102, 1);
}

.card .view pre{
    white-space: pre-wrap;
}

.card .view img{
    max-width: 100%;
}

.card.active .edit{  
    border: 2px solid rgba(75, 50, 102, 1);
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    resize: none;
    background-color: rgba(0,0,0,0);
    color: #bbb;
}

.sys_hide{
    display: none;
}

.card h1 {
    font-size: 24px;
    margin-bottom: 8px;
}

.card h2{   
    font-size: 20px;
    margin-bottom: 6px;
}
.card p {
    padding: 0 0 10px;
    margin: 0;
}

.card ul {
    padding: 0 0 10px 15px;
    list-style-type: disc;
}

.card ul,
.card ol{
    margin:0;
}

.meta_ctrls #filePicker{
    position: fixed;
    background-color: #212121;
    width: 450px;
    height: 300px;
    top: 100%;    
    font-size: .9em;
}

.meta_ctrls #filePicker .file{
    cursor: default;    
    padding: 10px;
}

.meta_ctrls #filePicker .file:hover,
.meta_ctrls #filePicker .file.active:hover{
    color:#8B8B8B;
    background-color:#272727;
}


.meta_ctrls #filePicker .file.active{
    background-color:#36414D
}